# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=__APP_ENV__
APP_URL=__APP_URL__
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=__APP_MAILER_URL__
###< symfony/swiftmailer-bundle ###

INSTANCE_ID=

DATABASE_URL=mysql://__DB_USER__:__DB_PASSWORD__@__DB_HOST__:__DB_PORT__/__DB_NAME__

COMPOSER_HOME=__COMPOSER_HOME__

BOXALINO_API_TEST=__BOXALONO_API_TEST__
BOXALINO_API_DEV=__BOXALINO_API_DEV__
BOXALINO_API_ENDPOINT=__BOXALINO_API_ENDPOINT__
BOXALINO_API_URL=https://__BOXALINO_API_ENDPOINT__.bx-cloud.com/narrative/__BOXALINO_API_USERNAME__/api/1
BOXALINO_API_USERNAME=__BOXALINO_API_USERNAME__
BOXALINO_API_SECRET=__BOXALINO_API_SECRET__
BOXALINO_API_KEY=__BOXALINO_API_KEY__
BOXALINO_API_CUSTOMER_ID=__BOXALINO_API_CUSTOMER_ID__
BOXALINO_API_SESSION_ID=__BOXALINO_API_SESSION_ID__
BOXALINO_API_PROFILE_ID=__BOXALINO_API_PROFILE_ID__

COMPOSER_GITHUB_TOKEN=__COMPOSER_GITHUB_TOKEN__
__FEATURES__
